<p class="h1">Characters</p>
<hr />

<div cdkDropList (cdkDropListDropped)="drop($event)">
  <ul class="list-group list-group-flush">
    @for (character of characters; track character.id) {
      <li class="list-group-item list-group-item-action item d-flex justify-content-between align-items-center bg-light" cdkDragLockAxis="y" cdkDrag>
        <div class="character-info">
          <p class="m-0"><span class="fw-bold fst-italic">Name:</span> {{ character.name }}</p>
          <p class="text-secondary fs-6"><span class="fw-bold fst-italic">Reward:</span> {{ character.reward }}$</p>
        </div>
        <button class="btn btn-danger" (click)="emitDeleteCharacter(character.id)">X</button>
      </li>
}
@empty {
  <div class="d-flex flex-column align-content-center justify-content-center fs-1 text-secondary">
    <i class="fa-solid fa-magnifying-glass text-center mb-2"></i>
    <p class="d-flex justify-content-center h5 text-secondary fst-italic">There are no characters</p>
  </div>
}
  </ul>
</div>