<p class="h1">Characters</p>
<hr />

<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="character-info">
      <p class="m-0">Monkey D Luffy</p>
      <p class="text-secondary fs-6">Reward: 300$</p>
    </div>
    <button class="btn btn-danger">X</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="character-info">
      <p class="m-0">Roronoa Zoro</p>
      <p class="text-secondary fs-6">Reward: 160$</p>
    </div>
    <button class="btn btn-danger">X</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="character-info">
      <p class="m-0">Vinsmoke Sanji</p>
      <p class="text-secondary fs-6">Reward: 75$</p>
    </div>
    <button class="btn btn-danger">X</button>
  </li>
</ul>
